[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pep8 = "*"
autopep8 = "*"
httpie = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt = "*"
coverage = "*"
cloudinary = "*"
coveralls = "*"

[requires]
python_version = "3.7"
