autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
Django==2.2.1
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.3.0
httpie==1.0.2
idna==2.8
pep8==1.7.1
psycopg2-binary==2.8.2
pycodestyle==2.5.0
Pygments==2.4.0
PyJWT==1.7.1
pytz==2019.1
requests==2.21.0
sqlparse==0.3.0
urllib3==1.24.3
